<!DOCTYPE html>
<html>
<head>
  <title>OnliveVtuber</title>
	{% load static %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	<link rel="stylesheet" href="{% static 'main.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet">
	<meta name="description" content="youtubeで今、生放送中のVtuberをリスト化！" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149456660-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-149456660-1');
	</script>
	<script src="https://apis.google.com/js/platform.js"></script>
	<!-- twitter card -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@kitune_chan250r" />
	<meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<meta property="og:title" content="OnliveVtuber" />
	<meta property="og:description" content="今、youtubeで生放送しているVtuberをリスト化して探しやすくするサイト" />
	<meta property="og:image" content="https://vlsapi-web.herokuapp.com/static/twittercard.2a7a71532dd2.png" />

	<nav class="navbar navbar-expand-lg sticky-top">
	  <div class="container">
	  	<div class="row"></div>
	  		<p class="col-lg-11">
	  			<a href="/">
	  				<img src="{% static "logo.png" %}">
	  			</a>
	  		</p>
	  	</div>
	  	<button type="button" class="btncolor btn btn-primaly d-none d-sm-block col-lg-1" onclick="location.href='vtuber'" id="all">Vtuber一覧</button>
	  </div>
	</nav>
<body>
	{% block content %}
  {% endblock %}
</body>
</html>
