<!DOCTYPE html>
<html>
<head>
  <title>OnliveVtuber</title>
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-3 hidden-xs">
      </div> -->
      <nav class="navbar navbar-inverse navbar-fixed-left col-lg-3 hidden-xs">
        
      </nav>
      <div class="col-lg-6">
        {% if livedata %}
          {% for d in livedata %}
            <div class='cardw'>
              <div class='row contentbox'>
                <div class='col-xs-12 col-lg-6'>
                  <div class='content' id='img'>
                    <iframe width="336" height="189" src="https://www.youtube.com/embed/{{ d.live_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
                <div class='col-xs-12 col-lg-6'>
                  <div class='content' id='detail'>
                    <h5 class='title-text'>
                      <a href='https://www.youtube.com/watch?v={{ d.live_url }}' target="_blank">{{ d.live_title }}</a>
                    </h5>
                    <p class="name">Vtuber: {{ d.liver_name }}</p>
                  </div>
                </div>
              </div>
            </div> <!-- card end -->
          {% endfor %}
        {% else %}
          <p class='errmsg'>配信してるVtuberはいませんでした</p>
        {% endif %}
      </div>
      <div class="col-lg-3 hidden-xs right">
      </div>
    </div>
  </div>
</body>
</html>