{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-3 hidden-xs">
      </div> -->
      <div class="col-lg-3 hidden-md sidebar" id='l'>
      </div>
      <div class="col-lg-6">
        <br>
        <br>
        {% if livedata %}
          {% for d in livedata reversed %}
            {% if request.GET.filter == "1" %}
              {% ifequal d.production 'ホロライブ' %}
                {% include "content_box.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "2" %}
              {% ifequal d.production 'にじさんじ' %}
                {% include "content_box.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "3" %}
              {% ifequal d.production 'あにまーれ' %}
                {% include "content_box.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "4" %}
              {% ifequal d.production '.Live' %}
                {% include "content_box.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "5" %}
              {% ifequal d.production 'ハニーストラップ' %}
                {% include "content_box.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "6" %}
              {% ifequal d.production 'Re:AcT' %}
                {% include "content_box.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "7" %}
              {% ifequal d.production 'ENTUM' %}
                {% include "content_box.html" %}
              {% endifequal %}
            
            {% elif request.GET.filter == "99" %}
              {% ifequal d.production 'etc' %}
                {% include "content_box.html" %}
              {% endifequal %}

            {% else %}
              {% include "content_box.html" %}
            {% endif %}
          
          {% endfor %}
        {% else %}
          <p class='errmsg'>配信してるVtuberはいませんでした</p>
        {% endif %}
      </div>

      <div class="col-lg-3 hidden-md sidebar" id='r'>
        <div class="container">
          <br>
          <br>
            {% include "sidbar_filter.html" %}
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
