{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-3 hidden-xs">
      </div> -->
      <div class="col-lg-3 hidden-md sidebar" id='l'>
      </div>
      <div class="col-lg-6">
        <p class="comment">＞対応Vtuber一覧　※調整中</p>

        <br>
        {% if vtuber %}
          {% for v in vtuber %}
          	{% if request.GET.filter == "1" %}
              {% ifequal v.production 'ホロライブ' %}
                {% include "v_content.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "2" %}
              {% ifequal v.production 'にじさんじ' %}
                {% include "v_content.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "3" %}
              {% ifequal v.production 'あにまーれ' %}
                {% include "v_content.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "4" %}
              {% ifequal v.production '.Live' %}
                {% include "v_content.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "5" %}
              {% ifequal v.production 'ハニーストラップ' %}
                {% include "v_content.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "6" %}
              {% ifequal v.production 'Re:AcT' %}
                {% include "v_content.html" %}
              {% endifequal %}

            {% elif request.GET.filter == "7" %}
              {% ifequal v.production 'ENTUM' %}
                {% include "v_content.html" %}
              {% endifequal %}
            
            {% elif request.GET.filter == "99" %}
              {% ifequal v.production 'etc' %}
                {% include "v_content.html" %}
              {% endifequal %}

            {% else %}
            	{% include "v_content.html" %}
            {% endif %}

          {% endfor %}
        {% else %}
          <p class='errmsg'>配信してるVtuberはいませんでした</p>
        {% endif %}
      </div>

      <div class="col-lg-3 hidden-md sidebar" id='r'>
        <div class="container">
          <br>
          <br>
          {% include "sidbar_filter.html" %}

          <br>
          <br>
          <div class="d d-none d-sm-block">
            <a href="about_this_page" class="title-text">About this site</a>
          </div>
        </div>
        
      </div>
    
    </div>
</div>
{% endblock %}
