.contentbox {
	background-color: #1f1f1f;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}
/*一部padding,margineを削除*/
.contentbox > .col,
.contentbox > [class*="col-"]{
	margin: 0;
	padding: 0;
}
.content {
	color: #ffffff;
}

#detail {
	vertical-align: top;
}

#img {
	text-align: center;
}


body {
	background-color: #1f1f1f;
}

.title-text {
	word-break: break-word;
}

.errmsg {
	background-color: #1f1f1f;
	text-align: center;
	color: #ffffff;
}

a {
	color: #ffffff;
}
a:link{color: #ffff; text-decoration: none;}
a:visited{color: #ffff; text-decoration: none;}
a:active{color: #ffff; text-decoration: none;}
a:hover{color: #ffff; text-decoration: none;}

.name {
	color: #aaaaaa;
}

@media (min-width: 992px) {
	.sidebar {
		background-color: #282828;
		height: 100vh;
		position: sticky;
		top: 0;
	}
}